<header class="header">
  
  <!-- LEFT -->
  <div class="header-left">
    <h1 class="app-title"></h1>
  </div>

  <!-- CENTER -->
  <div class="search-box">
    <input type="text" placeholder="Search news..." class="search">
  </div>

  <!-- RIGHT -->
  <div class="header-right">
    <a href="/logout" class="logout-btn">Logout</a>
  </div>

</header>